/* Universal Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin: 0;
    color: rgb(184, 196, 207);
    background-color: rgb(184, 196, 207);
    text-align: center;
}

a {
    color: rgb(184, 196, 207);
}

a:hover {
    color: maroon;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-family: 'Aboreto', cursive;
}

h2 {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 0.625rem 0;
}

p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

section {
    margin-top: 1rem;
}

/* Header */

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 2px solid rgb(184, 196, 207);
    align-items: center;
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    padding: 1rem;
}

/* Main */

main {
    color:rgba(0, 0, 0, 1);
    margin: 0 auto;
    padding-top: 156.5px;
}

#mission {
    color: rgb(184, 196, 207);
    display: flex;
    align-content: center;
    min-height: 500px;
    max-height: 1200px;
    background-image: url("./images/boat-4899802.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0 0 1rem 0;
}

.banner {
    display: block;
    align-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: .75rem 0;
}

/* What */

#what {
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
}

.item {
    margin: 0;
}

.item img {
    width: 400px;
    margin: 10px;
}

#who {
    margin: 0 0 20px 0;
    flex-direction: column;
}

/* Contact */

#contact {
    margin-top: 2rem;
}

#contact a {
    color: rgba(0, 0, 0, 1);
    font-size: 1rem;
}

/* Footer */

footer {
    font-size: 0.75rem;
}

@media only screen and (max-width: 1024px) {
    a:hover {
        color: rgb(184, 196, 207);
    }
}

@media only screen and (max-width: 480px) {
    .container {
        display: block;
    }
    
    #what {
        margin: 0 0 20px 0;
        width: 90%;
    }
    
    .item {
        margin: 0 0 10px 0;
    }
    
    .item img {
        width: 100%;
        margin: 0
    }
}